<dx-data-grid #categoryGrid keyExpr="id" [dataSource]="categories" [showBorders]="true" [wordWrapEnabled]="true"
  class="col-xl-2 col-sm-6 col-10" [focusedRowEnabled]="true" (onRowInserting)="addCategory($event)"
  (onRowRemoving)="deleteCategory($event)" (onRowUpdating)="updateCategory($event)">
  <dxo-selection mode="single"></dxo-selection>
  <dxo-editing mode="row" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
  </dxo-editing>
  <dxi-column dataField="name" caption="Название">
    <dxi-validation-rule type="required"></dxi-validation-rule>
  </dxi-column>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
</dx-data-grid>
