<dx-data-grid keyExpr="id" [dataSource]="products" [showBorders]="true" [wordWrapEnabled]="true"
  class="col-md-8 col-sm-10 col-12" [focusedRowEnabled]="true" (onRowInserting)="addProduct($event)"
  (onRowRemoving)="deleteProduct($event)" (onRowUpdating)="updateProduct($event)">
  <dxo-selection mode="single"></dxo-selection>
  <dxo-editing mode="form" [allowUpdating]="true" [allowDeleting]="true" [allowAdding]="true" [useIcons]="true">
  </dxo-editing>
  <!-- <dxi-column dataField="id" caption="№" width="50"></dxi-column> -->
  <dxi-column dataField="name" caption="Наименование продукта"></dxi-column>
  <dxi-column dataField="categoryItemId" caption="Категория">
    <dxo-lookup [dataSource]="categories" displayExpr="name" valueExpr="id">
    </dxo-lookup>
  </dxi-column>
  <dxi-column dataField="description" caption="Описание"></dxi-column>
  <dxi-column dataField="price" caption="Стоимость в рублях"></dxi-column>
  <dxi-column dataField="note" caption="Примечание общее"></dxi-column>
  <dxi-column dataField="noteSpec" caption="Примечание специальное"></dxi-column>
  <dxo-load-panel [enabled]="false"></dxo-load-panel>
</dx-data-grid>
